---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/Linkedin.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Download from "../components/icons/Download.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<Layout
  title="Porfolio de Ignacio Armijo Desarrollador y Programador Junior."
  description="Contacta con Ignacio Armijo para crear tu pagina Web">
  <Header />
  <main>
    <section class="w-full lg:w-[780px] mx-auto pt-44 sm:px-10 md:px15 lg:px20 px-6"  id="sobre-mi">
      <img
        src="photo.jpg"
        class="rounded-full size-14 mb-5"
        alt="ignacio-photo"
      />
      <h2 class="text-white text-4xl font-bold flex flex-col gap-x-4 pb-2 justify-items-start items-start">
        Hola 👋
      </h2>
      <h1
        class="text-white text-5xl font-bold flex flex-col gap-x-4 pb-10 justify-items-start items-start">
        Soy Ignacio Armijo
        <a
          href="https://www.linkedin.com/in/ignacio-armijo-mansilla-23442026b"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center">
          <Badge />
        </a>
      </h1>
      <h2 class="text-2xl opacity-80 text-wrap">
        Analista Programador Junior, Desarrollador Web, tengo 21 años, soy de
        Bío-Bío, Chile y estoy en búsqueda de nuevos desafios!
      </h2>
      <nav class="flex gap-x-2">
        <SocialPill
          href="https://www.linkedin.com/in/ignacio-armijo-mansilla-23442026b">
          <LinkedInIcon class="size-6" />LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/nnnacho">
          <GitHubIcon class="size-6" />Github
        </SocialPill>
        <SocialPill href="/Curriculum.pdf">
          <Download class="size-6" />Curriculum
        </SocialPill>
      </nav>
    </section>
    <section class="w-full lg:w-[780px] mx-auto mt-24 sm:px-10 px-6" id="experiencia">
      <Experience />
    </section>
    <section class="w-full lg:w-[780px] mx-auto sm:px-10 px-6" id="proyectos">
      <Projects />
    </section>
    <section class="w-full lg:w-[780px] mx-auto sm:px-10" id="contacto">
      <Contact />
    </section>
  </main>
  <Footer />
</Layout>
