<section class="py-20">
  <div class="max-w-xl mx-auto">
    <div class="text-center">
      <div class="relative flex flex-col items-center">
        <h2 class="text-4xl font-extrabold text-[#094067] dark:text-[#fffffe]">
          Contáctame!
        </h2>
        <div class="flex mt-1 mb-10 overflow-hidden rounded w-14">
          <div class="flex-1 h-2 bg-[#3da9fc] dark:bg-[#ff8906]"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center">
    <div class="relative py-1 sm:max-w-md sm:mx-auto mx-auto max-w-sm">
      <div
        class="absolute inset-0 bg-[#90b4ce] shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 -rotate-6 sm:rounded-3xl rounded-3xl dark:bg-[#f25f4c]"
      >
      </div>
      <div
        class="text-white relative px-10 py-10 rounded-3xl bg-[#3da9fc] shadow-lg dark:bg-[#ff8906]"
      >
        <form
          class="space-y-4 text-center"
          action="https://formspree.io/f/xqkrakjj"
          method="POST"
          id="form"
        >
          <input
            type="text"
            placeholder="Nombre"
            name="name"
            class="w-full rounded-md py-3 px-4 bg-gray-100 text-sm outline-blue-500 text-black"
            required
          />
          <input
            type="email"
            placeholder="Email"
            name="email"
            class="w-full rounded-md py-3 px-4 bg-gray-100 text-sm outline-blue-500 text-black"
            required
          />
          <textarea
            placeholder="Mensaje"
            rows="6"
            name="message"
            class="w-full rounded-md px-4 bg-gray-100 text-sm pt-3 outline-blue-500 text-black"
            required></textarea>
          <button
            type="submit"
            class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-200 transition-all duration-300 text-blue-800 hover:bg-blue-300 disabled:opacity-50 disabled:pointer-events-none dark:hover:bg-[#e53170] dark:text-white dark:focus:outline-none dark:focus:ring-1 dark:bg-[#f25f4c] dark:focus:ring-gray-600"
          >
            Enviar mensaje
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
<script>
  import { Direction } from "astro:transitions/client";
  import Toastify from "toastify-js";

  const $form = document.querySelector("form");
  $form?.addEventListener("submit", handlesubmit);

  async function handlesubmit(event: Event) {
    event.preventDefault();
    const form = new FormData(this);
    const response = await fetch(this.action, {
      method: this.method,
      body: form,
      headers: {
        Accept: "application/json",
      },
    });
    if (response.ok) {
      this.reset();
      Toastify({
        text: "Mensaje enviado con éxito!",
        duration: 4500,
        destination: "https://github.com/apvarun/toastify-js",
        newWindow: true,
        close: true,
        gravity: "top", // `top` or `bottom`
        position: "right", // `left`, `center` or `right`
        stopOnFocus: true, // Prevents dismissing of toast on hover
        style: {
          background: "linear-gradient(to right, #00b09b, #96c93d)",
        },
        onClick: function () {}, // Callback after click
      }).showToast();
    }
  }
</script>
