<section class="py-20">
  <div class="max-w-xl mx-auto">
    <div class="text-center">
      <div class="relative flex flex-col items-center">
        <div
          class="absolute hidden md:block mt-2 -top-14 text-[80px] text-gray-400 font-bold opacity-10">
          Contacto
        </div>
        <h1
          class="text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-sky-100 to-sky-600">
          Contáctame!
        </h1>
        <div class="flex mt-1 mb-10 overflow-hidden rounded w-14">
          <div class="flex-1 h-2 bg-sky-200"></div>
          <div class="flex-1 h-2 bg-sky-400"></div>
          <div class="flex-1 h-2 bg-sky-600"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center">
    <div class="relative py-1 sm:max-w-md sm:mx-auto mx-auto max-w-sm">
      <div
        class="absolute inset-0 bg-sky-200 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 -rotate-6 sm:rounded-3xl rounded-3xl">
      </div>
      <div
        class="text-white relative px-10 py-10 rounded-3xl bg-sky-600 shadow-lg">
       
        <form class="space-y-4 text-center" method="POST" action="https://formsubmit.co/incarmijo@gmail.com" id="form">
          <input
            type="text"
            placeholder="Nombre"
            name="name"
            class="w-full rounded-md py-3 px-4 bg-gray-100 text-sm outline-blue-500 text-black"
            required
          />
          <input
            type="email"
            placeholder="Email"
            name="mail"
            class="w-full rounded-md py-3 px-4 bg-gray-100 text-sm outline-blue-500 text-black"
            required
          />
          <input
            type="text"
            placeholder="Asunto"
            name="subjet"
            class="w-full rounded-md py-3 px-4 bg-gray-100 text-sm outline-blue-500 text-black"
            required
          />
          <textarea
            placeholder="Mensaje"
            rows="6"
            name="message"
            class="w-full rounded-md px-4 bg-gray-100 text-sm pt-3 outline-blue-500 text-black"
            required></textarea>
            
          <button
            type="submit"
            class="py-3 px-4 gap-x-2 text-sm font-semibold w-60 rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none dark:hover:bg-blue-900 dark:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
            Enviar
          </button>
          <input type="hidden" name="_subject" value="Nuevo Mensaje!">
            <input type="hidden" name="_captcha" value="false">
        </form>
      </div>
    </div>
  </div>
</section>

