---
interface Props {
  tittle: string;
  description: string;
  date: string;
  company: string;
}
const { tittle, description, date, company } = Astro.props;
---

<span
  class="absolute flex items-center justify-center w-6 h-6 bg-[#3da9fc] rounded-full -start-3 ring-8 ring-white"
>
  <svg
    class="w-2.5 h-2.5 text-[#fffffe] dark:text-blue-300"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 20 20"
  >
    <path
      d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
    ></path>
  </svg>
</span>
<h3 class="flex items-center mb-1 text-xl font-semibold text-[#094067]">
  {tittle}
  <span
    class="bg-[#ef4565] text-[#fffffe] text-sm font-medium me-2 px-2.5 py-0.5 rounded ms-2"
    >{company}</span
  >
</h3>
<time
  class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
  >{date}</time
>
<p
  class="mb-4 text-base font-normal text-[#5f6c7b] opacity-80 dark:text-gray-400"
>
  {description}
</p>
