---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    tittle: "Práctica Profesional",
    date: "Nov 2023 - Dic 2023",
    description:
      "Desarrollé un sistema de gestión para un establecimiento educacional con funcionalidades como: Administración de atrasos, gestión de días administrativos y descansos complementarios de los funcionarios, optimizando así procesos dentro de la institución.",
    company: "Liceo Saltos Del Laja",
  },
];
---

<section class="py-20">
  <div class="max-w-xl mx-auto">
    <div class="text-center">
      <div class="relative flex flex-col items-center">
        <h1
          class="text-4xl font-extrabold text-[#094067] text-transparent bg-clip-text bg-[#fffffe]"
        >
          Experiencia Laboral
        </h1>
        <div class="flex mt-1 mb-10 overflow-hidden rounded w-14">
          <div class="flex-1 h-2 bg-[#3da9fc]"></div>
        </div>
      </div>
      <p class="mb-16 text-base text-center text-[#5f6c7b] text-pretty">
        Soy recién egresado y estoy en búsqueda de mi primer trabajo como
        desarrollador.
      </p>
    </div>
  </div>
  <ol class="relative border-s border-[#3da9fc]">
    {
      EXPERIENCE.map((exp) => (
        <li class="mb-10 ms-6">
          <ExperienceItem {...exp} />
        </li>
      ))
    }
  </ol>
</section>
