<footer
  class="rounded-lg shadow bg-slate-80 bg-[#90b4ce] backdrop-blur-lg xl:w-[1280px] mx-auto mb-10 sm:px-10 md:px15 lg:px20 px-5"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-[#fffffe] sm:text-center mr-5"
      >© 2024 Ignacio Armijo. <br />Inspirado en <a
        href="https://porfolio.dev/"
        target="_blank"
        class="text-sky-200">portfolio</a
      > de midudev
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-[#fffffe] dark:text-gray-400 sm:mt-0"
    >
      <li class="hover:-translate-y-1 transition-all">
        <a href="/#" class="hover:text-cyan-200 transition-all me-4 md:me-6"
          >Sobre mí</a
        >
      </li>
      <li class="hover:-translate-y-1 transition-all">
        <a
          href="/#experiencia"
          class="hover:text-cyan-200 transition-all me-4 md:me-6">Experiencia</a
        >
      </li>
      <li class="hover:-translate-y-1 transition-all">
        <a
          href="/#proyectos"
          class="hover:text-cyan-200 hover:scale-110 transition me-4 md:me-6"
          >Proyectos</a
        >
      </li>
      <li class="hover:-translate-y-1 transition-all">
        <a href="/#contacto" class="hover:text-cyan-200 transition-all"
          >Contacto</a
        >
      </li>
    </ul>
  </div>
</footer>
