<footer class="rounded-lg shadow m-4 bg-slate-80 bg-blue-950 backdrop-blur-lg  xl:w-[1120px] mx-auto mb-10 sm:px-10 md:px15 lg:px20 px-6">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024. Todos los derechos reservados.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-400 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class=" hover:text-cyan-200 transition-all  me-4 md:me-6">Sobre mí</a>
        </li>
        <li>
            <a href="#experiencia" class="hover:text-cyan-200 transition-all me-4 md:me-6">Experiencia</a>
        </li>
        <li>
            <a href="#proyectos" class=" hover:text-cyan-200 hover:scale-110 transition me-4 md:me-6">Proyectos</a>
        </li>
        <li>
            <a href="#contacto" class=" hover:text-cyan-200 transition-all ">Contacto</a>
        </li>
    </ul>
    </div>
</footer>
