<footer
  class="rounded-lg shadow bg-slate-80 bg-[#90b4ce] backdrop-blur-lg xl:w-[780px] mx-auto mb-10 sm:px-10 md:px15 lg:px20 px-5 dark:bg-[#f25f4c]"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-xs text-[#fffffe] sm:text-center mr-5"
      >© 2024 Ignacio Armijo. Casi todos los derechos reservados
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-xs font-medium text-[#fffffe] dark:text-[#fffffe] sm:mt-0"
    >
      <li class="transition-all">
        <a href="/#" class="me-4 md:me-6 hover:border-b-2">Sobre mí</a>
      </li>
      <li class="">
        <a href="/#experiencia" class="me-4 md:me-6 hover:border-b-2"
          >Experiencia</a
        >
      </li>
      <li class="">
        <a
          href="/#proyectos"
          class="hover:scale-110 transition me-4 md:me-6 hover:border-b-2"
          >Proyectos</a
        >
      </li>
      <li class="">
        <a href="/#contacto" class="hover:border-b-2">Contacto</a>
      </li>
    </ul>
  </div>
</footer>
