<header
  class={`
    flex justify-center items-center
    mx-auto
    py-7
    sticky top-0
    z-10
    animate__animated
    animate__slideInDown
  `}
>
  <nav
    class={`
       rounded-full
      px-3 py-1
      flex flex-row items-center
      bg-[#3da9fc] 
      backdrop-blur-2xl
      dark:bg-[#ff8906]
      
    `}
  >
    <a
      class="hover:bg-white/20 text-[#fffffe] opacity-90 rounded-full px-3 transition-all"
      href="#experiencia"
      >Experiencia
    </a>

    <a
      class="hover:bg-white/30 text-[#fffffe] opacity-90 rounded-full px-3 transition-all"
      href="#proyectos">Proyectos</a
    >
    <a
      class="hover:bg-white/30 text-[#fffffe] opacity-90 rounded-full px-3 transition-all"
      href="#contacto">Contacto</a
    >
    <label class="ui-switch m-1">
      <input type="checkbox" id="toggle" />
      <div class="slider">
        <div class="circle"></div>
      </div>
    </label>
  </nav>
</header>
