---
import { PROJECTS } from "../data/projects.js";
---

<section class="py-20">
  <div class="max-w-xl mx-auto mb-12">
    <div class="text-center">
      <div class="relative flex flex-col items-center">
        <h2 class="text-4xl font-extrabold text-[#094067]">Proyectos</h2>
        <div class="flex mt-1 mb-10 overflow-hidden rounded w-14">
          <div class="flex-1 h-2 bg-[#3da9fc]"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center items center mb-16">
    <div
      class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100"
    >
      <div class="flex flex-col justify-between p-4 leading-normal mb-3">
        {
          PROJECTS.map(
            ({ tittle, image, description, link, github, tags, id }) => (
              <>
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-[#094067] dark:text-white">
                  {tittle}
                </h5>
                <p class="mb-3 font-normal text-[#5f6c7b] dark:text-gray-400">
                  {description}
                </p>
                <div class="flex justify-end">
                  <a
                    class="group relative inline-flex items-center
                    border border-[#094067] overflow-hidden rounded bg-[#ef4565] px-8 py-3 text-white focus:outline-none focus:ring active:bg-indigo-500"
                    href={`/${id}`}
                  >
                    <span class="absolute -end-full transition-all group-hover:end-4">
                      <svg
                        class="h-5 w-5 rtl:rotate-180"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M17 8l4 4m0 0l-4 4m4-4H3"
                        />
                      </svg>
                    </span>

                    <span class="text-sm font-medium text-[#fffffe] transition-all group-hover:me-4">
                      Ver más
                    </span>
                  </a>
                </div>
              </>
            )
          )
        }
      </div>
    </div>
  </div>
</section>
