---
import { TECH } from "../data/projects";
const info = TECH.find((x) => x.id == "ignacio");
---

<section class="py-20">
  <div class="max-w-xl mx-auto mb-16">
    <div class="text-center">
      <div class="relative flex flex-col items-center">
        <h2 class="text-4xl font-extrabold text-[#094067]">
          Stack Tecnológico
        </h2>
        <div class="flex mt-1 mb-10 overflow-hidden rounded w-14">
          <div class="flex-1 h-2 bg-[#3da9fc]"></div>
        </div>
      </div>
    </div>
    <p class="text-base text-center text-[#5f6c7b] text-pretty">
      Actualmente mi stack está orientado en C# con su respectivo framework
      .NET. Del mismo modo, poseo conocimientos en el uso de metodologías
      ágiles, tales como SCRUM y Kanban.
    </p>
  </div>
  <div>
    <ul class="gap-2 grid items-center justify-center mb-5 grid-cols-3">
      {
        info.tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-md text-[10px] xl:text-[14px] lg:text-[12px] hover:scale-105 transition-all cursor-default ${tag.class} py-1 px-2 flex text items-center`}
            >
              <tag.icon class="size-7 rounded-lg" />
              {tag.name}
            </span>
          </li>
        ))
      }
    </ul>
  </div>
</section>
