---
import "@fontsource-variable/onest";
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>

  <body class="bg-[#fffffe] dark:bg-[#0f0e17]">
    <slot />
    <Footer />
    <style is:global>
      :root {
        color-scheme: dark;
      }
      html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
        overflow-x: hidden;
      }
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
      }
      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
