---
import Header from '../components/Header.astro';
import '@fontsource-variable/onest'

interface Props {
	title: string;
	description: string;
}

const {description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
	
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="relative">
		<div class="absolute top-0 z-[-2] h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]"></div>
		<Header />
		<slot />
	</body>

</html>
<style is:global>
	:root {
	color-scheme: light dark;
	}
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
	}
	body{

		display: flex;
		flex-direction: column;
		justify-content: center;
	}
</style>
