---

import "@fontsource-variable/onest";
import { ViewTransitions } from 'astro:transitions';
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <ViewTransitions />
    <title>{title}</title>
  </head>

  <body>
	<div class="fixed-background"></div>
    <slot />
    <Footer/>
  </body>
</html>
<style is:global>
  :root {
    color-scheme: dark;
  }
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
	overflow-x: hidden;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    
  }
  .fixed-background {
            position: fixed; /* Hace que el div sea fijo en la ventana */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(#ffffff33 1px, #00091d 1px);
            background-size: 20px 20px;
            z-index: -2;
        }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

